<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxnan.reper.mapper.ListSongMapper">

    <update id="update">
        update list_song
        <set>
            <if test="songId!=null">song_id=#{songId},</if>
            <if test="songListId!=null">song_list_id=#{songListId},</if>
        </set>
    </update>
</mapper>